body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;

}

.back{
	background: #eee;
	padding: 20px;
	border-radius: 10px;
}
.table-back{
	background: white;

	border-radius:6px;
}
.jobs{
	background: white;
	width: 100%;
	height: 70px;
	border-radius:6px;
	
}
.applicants{
	height:50px;
	background:white;
	margin-bottom:20px;
	margin-left:10px;
	margin-right:10px;
	border-radius:6px;
}
.main{
	background-image: url("http://www.rkgit.edu.in/images/campus.jpg");
	min-width: 100%;
	min-height: 100%;
	height: auto;
	width: auto;
	position: absolute;
	margin: auto;
}
.back-image{

	
}
.back-image h1 {
	font-family:fantasy;
	font-size: 72px;
	font-weight: 3em;
	text-align: center;
	line-height: 591px;

}
.delete_btn{
	cursor: pointer;
	background-color: green;
	color: white;
}